<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :name, class: "control-label" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= label f, :username, class: "control-label" %>
    <%= text_input f, :username, class: "form-control" %>
    <%= error_tag f, :username %>
  </div>

  <%= inputs_for f, :custom_fields, fn cff -> %>
    <div class="form-group">
      <%= hidden_input cff, :id %>
      <%= hidden_input cff, :kind %>
      <%= label cff, :value, class: "control-label" do %>
        <%= input_value cff, :kind %>
      <% end %>
      <%= text_input cff, :value, class: "form-control" %>
      -<%= error_tag cff, :id %>
      -<%= error_tag cff, :kind %>
      -<%= error_tag cff, :value %>
    </div>
  <% end %>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
